.crypto-container {
    display: flex;
    justify-content: center;
}

.crypto-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    width: 1000px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 7px;
    margin-bottom: 10px;
}

.coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
    background-color: transparent;
}

.coin h1 {
    font-size: 16px;
    width: 150px;
    background-color: transparent;
}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 15px;
    background-color: transparent;
}

.coin-symbol {
    text-transform: uppercase;
    background-color: transparent;
}

.coin-data {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
}

.coin-price {
    width: 110px;
    background-color: transparent;
}

.coin-volume {
    width: 155px;
    background-color: transparent;
}

.coin-marketcap {
    width: 250px;
    background-color: transparent;
    margin-right: 15px;
}

.coin-percent {
    width: 100px;
    background-color: transparent;
}

.red {
    color: #f00606;
}

.green {
    color: #11d811;
}